<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.watayouxiang.androidcode">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation._Animation" />
        <activity android:name=".animation.AnimationDrawableActivity" />
        <activity android:name=".animation.AnimatorActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".animation.TidaAnimatorActivity" />
        <activity android:name=".service.LocalServiceActivity" />
        <activity android:name=".service.RemoteServiceActivity" />
        <activity android:name=".service.IntentServiceActivity" />
        <activity android:name=".view.Test01Activity" />
        <activity android:name=".view.Test02Activity" />
        <activity android:name=".activity._Activity" />
        <activity android:name=".handler._Handler" />
        <activity android:name=".service._Service" />

        <service android:name=".service.IntentService" />
        <service android:name=".service.LocalService" />

    </application>

</manifest>