<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watayouxiang.myandroid">

    <application>
        <activity android:name=".animation._Animation_" />
        <activity android:name=".animation.AnimationDrawableActivity" />
        <activity android:name=".animation.AnimatorActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".animation.tida.TidaAnimatorActivity" />
        <activity android:name=".service.local_service.LocalServiceActivity" />
        <activity android:name=".service.remote_service.RemoteServiceActivity" />
        <activity android:name=".service.intent_service.IntentServiceActivity" />
        <activity android:name=".view.Canvas_BaseActivity" />
        <activity android:name=".view.View_Base01Activity" />
        <activity android:name=".view._View_" />
        <activity android:name=".handler._Handler_" />
        <activity android:name=".service._Service_" />
        <activity android:name="._MyAndroid_" />

        <service android:name=".service.intent_service.IntentService" />
        <service android:name=".service.local_service.LocalService" />
    </application>
</manifest>