<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.watayouxiang.myandroid">

    <application>

        <!--activity-->
        <activity android:name=".MyAndroidDemo" />

        <activity android:name=".animation.AnimationDemo" />
        <activity android:name=".animation.AnimationDrawableActivity" />
        <activity android:name=".animation.AnimatorActivity" />
        <activity android:name=".animation.AnimationActivity" />
        <activity android:name=".animation.tida.TidaAnimatorActivity" />

        <activity android:name=".service.local_service.LocalServiceActivity" />
        <activity android:name=".service.remote_service.RemoteServiceActivity" />
        <activity android:name=".service.intent_service.IntentServiceActivity" />

        <activity android:name=".view.Canvas_BaseActivity" />
        <activity android:name=".view.Path_BaseActivity" />
        <activity android:name=".view.View_Base01Activity" />
        <activity android:name=".view.ViewDemo" />

        <activity android:name=".handler.HandlerDemo" />

        <activity android:name=".service.ServiceDemo" />

        <activity android:name=".broadcast.BroadcastDemoActivity" />
        <activity android:name=".provider.ContentResolverDemoActivity" />

        <!--service-->
        <service android:name=".service.intent_service.MyIntentService" />
        <service android:name=".service.local_service.LocalService" />

        <!--broadcast-->
        <receiver android:name=".broadcast.DateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>